html,body{
    height: 100%;
    margin: 0;
}
 body{

    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0.0deg, #F9F8FD 30.069715821142545%,
    #F5F4FC 96.51385139598547%, #FFFFFF 98.87484076180397%);
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

* img{
    height: auto;
    width: 100%;
}
