html,body{
    height: 100%;
    margin: 0;
}
 body{

    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0.0deg, #F9F8FD 30.069715821142545%,
    #F5F4FC 96.51385139598547%, #FFFFFF 98.87484076180397%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: var(--max-width_body);
    margin:auto
 }

* img{
    height: auto;
    width: 100%;
}

.badge {
    --bs-badge-padding-x: 0.35em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.65em;
    --bs-badge-font-weight: 700;
    --bs-badge-border-radius: 0.2rem;
}

.title {
    margin-top: 5%;
    margin-bottom: 3%;
}