.card-overlay-detail-horizontal {
    --heigth_recommendations-card-img: 200px;
    --heigth_recommendations-card: 200px;
    --max-width_recommendations-card: 390px;
    --margin_recommendations-card-overlay: 8em;
    --max-width_recommendations-card-img: 390px;

    width: 100%;
    max-height: var(--heigth_recommendations-card);
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;

    text-decoration: none;
 
        &__img {
            max-width: var(--max-width_recommendations-card-img);
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 5px;
            }
        }

        &__info {
            color: black;
            width: 100%;
           /*  margin-top: 0px; */
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            position: relative;
            padding: 1rem 1rem 0.5rem 1rem;

            &-title {
                grid-column: 1 / 3;
                grid-row: 1 / 1;
                margin-bottom: 0;
                justify-self: center;
                align-self: center;
            }

            &-tags-list {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 90%;

                grid-column: 1 / 3;
                grid-row: 4 / 5;
                justify-self: center;
                align-self: center;

                display: flex;
                align-items: center;
                flex-direction: row;

                li:not(:nth-last-child(1)) {
                    margin: 1%;
                }
            }

            &-description {
                margin: 1em 0;
                grid-column: 1 / 3;
                grid-row: 3 / 4;
                justify-self: center;
                align-self: center;
            }
        }

        &__short-info {
            font-size: 12px;
            font-weight: 300;
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            width: 50%;
           

            grid-column: 1 / 3;
            grid-row: 2 / 3;
            
            justify-self: center;
            align-self: center;

          
        }

        &__info::after {
            height: 100%;
            background: none;
        }

 
    
 &:hover  &__info, &.active  &__info{
    background: white;
    box-shadow: 0px 2px 12px 0.25rem rgba(182, 182, 182, 0.25);
    transition: all 0.5s;
 }

}




@media screen and (max-width: 768px) {
    .card-overlay-detail-horizontal {
            &__img {
                max-width: calc(var(--max-width_recommendations-card-img) / 2);
                width: 100%;
            }
            &__short-info {
                width: 80%;
            }
    }
}

@media screen and (max-width: 576px) {
    .card-overlay-detail-horizontal {
        --heigth_recommendations-card: 280px;
            min-height: var(--heigth_recommendations-card);
            &__img {
                max-width: calc(var(--max-width_recommendations-card-img) / 4);
                width: 100%;
            }
    }
}

@media screen and (max-width: 460px) {
    .card-overlay-detail-horizontal {
        position: relative;
         min-height: var(--heigth_recommendations-card);
        
            &__img {
             
                transition: all 0.5s;
                position: absolute;
                max-width: 100%;
                width: 100%;
                z-index: -2;
                height: 100%;
               
            }

            &__info {
                color: white;
                background: none;
                width: 100%;
                &::after {
                    position: absolute;
                    content: ' ';
                    background: #0003;
                    z-index: -1;
                    height: 100%;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                }
                &-title {
                    grid-column: 1 / 3;
                    grid-row: 2 / 3;
                    margin-bottom: 0;
                    justify-self: center;
                    align-self: center;
                }

                &-description {
                    display: none;
                }
            }
            &__short-info {
                grid-column: 1 / 3;
                grid-row: 3 / 4;
                width: 80%;
                margin: auto;
            }
        
        &:hover &__info,&.active &__info{
           background: none;
        }
 
    }
}