.card-overlay-detail {
    --heigth_recommendations-card-img: 200px;
    --heigth_recommendations-card: 390px;
    --max-width_recommendations-card: 390px;
    --margin_recommendations-card-overlay: 8em; //8em

    position: relative;
    min-height: var(--heigth_recommendations-card);
    max-width: var(--max-width_recommendations-card);
    display: flex;
    justify-content: flex-end;
    margin: auto;

    &__img {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -2;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
        }
    }

    &__info {

        width: 100%;
        color: black;
        padding: 0 1rem 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: var(--margin_recommendations-card-overlay);

        &-title {
            margin-bottom: 3%;
            opacity: 0.9;
            text-align: center;

            a {
                color: inherit;
                font-weight: 700;
                text-decoration: none;
            }
        }

        &-tags-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            position: absolute;
            top: 1rem;
            left: 1rem;
            flex-direction: column;

            li:not(:nth-last-child(1)) {
                margin: 1%;
            }
        }


        &-description {
            opacity: 0;
        }

    }

    &__options {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 1rem;
        right: 1rem;

        button {
            opacity: 0.5;
            padding: 10%;
            svg {
                height: 1.8em;
                width: 1.8em;
            }
            span {
                display: none;
            }
        }
    }

    &__info::after {
        position: absolute;
        content: ' ';
        background: #f1f1f1f2;
        z-index: -1;
        height: 25%;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    &__short-info {
        font-size: 12px;
        font-weight: 300;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
    }

    &:hover &__info {
        color: var(--color-white);

        &-title:hover {
            text-decoration: underline;
        }

        &-tags-list li span.badge,
        .text-bg-primary,
        .text-bg-secondary,
        .text-bg-success,
        .text-bg-danger,
        .text-bg-warning,
        .text-bg-info,
        .text-bg-dark {
            color: black !important;
            background: RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1)) !important
        }
    }

    &:hover &__info::after,
    &.active &__info::after {
        background: #000000a1;
        height: 100%;
        transition: all 0.5s;
        opacity: 1;
    }

    &:hover &__info-description,
    &.active &__info-description {
        opacity: 1;
    }

    &:hover &__options button {
        opacity: 1;
    }
}

@media screen and (max-width: 576px) {
    .card-overlay-detail {
        --heigth_recommendations-card: 280px;
        
        &__info::after {
            height: 30%;
        }
    } 
}