<div class="filter">
    <div class="filter__controls">
      <button class="btn btn-dark btn-all-results" (click)="showAllResults()">
        <span>Todas</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-columns-reverse" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 .5Zm4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10A.5.5 0 0 1 4 .5Zm-4 2A.5.5 0 0 1 .5 2h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5Zm-4 2A.5.5 0 0 1 .5 4h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5Zm-4 2A.5.5 0 0 1 .5 6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm-4 2A.5.5 0 0 1 .5 8h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5Zm-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5Z"/>
        </svg>
    </button>
        <div class="filter__controls-input">
          <input [(ngModel)]="src" #searchBar (ngModelChange)="callSearch($event)"   class="form-control search-bar" type="text" id="mainSearch" placeholder="Buscar"
          (keydown)="move($event)">
          <ul class="filter__controls-input-top-results" *ngIf="topSearchResults$!==undefined">
            <li *ngFor="let result of topSearchResults$ | async" (click)="seeDetail(result.id)">  
              <div>
                <img [src]="result.cover" alt="">
              </div>
             <span>{{result.title}}</span> 
            </li>
          </ul>
        </div>
     
        <button class="btn btn-dark filter__controls-btn btn-search" (click)="sendSearch()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-search" viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>

        </button>


    </div>

<!--     <ul class="filter__list">
        <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkFilter_1">
            <label class="form-check-label" for="checkFilter_1">
              Caldos
            </label>
          </li>

          <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkFilter_2" >
            <label class="form-check-label" for="checkFilter_2">
              Mole
            </label>
          </li>
          <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkFilter_3" >
            <label class="form-check-label" for="checkFilter_3">
              Tostadas
            </label>
          </li>
          <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkFilter_4" >
            <label class="form-check-label" for="checkFilter_4">
              Tacos
            </label>
          </li>
    </ul> -->
</div>