<div class="recipe-detail">
    <h1 class="recipe-detail__title">{{recipe.title}}</h1>
    <ul class="recipe-detail__short-info">
        <span *ngIf="recipe.weather">  <!--Add temperature icon -->
            {{recipe.weather}}</span>  
        <span *ngIf="recipe.duration">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-stopwatch" viewBox="0 0 16 16">
                <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                <path
                    d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
            </svg>
            {{recipe.duration}} min
        </span>
        <span *ngIf="recipe.difficulty"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-graph-down-arrow" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M0 0h1v15h15v1H0V0Zm10 11.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-1 0v2.6l-3.613-4.417a.5.5 0 0 0-.74-.037L7.06 8.233 3.404 3.206a.5.5 0 0 0-.808.588l4 5.5a.5.5 0 0 0 .758.06l2.609-2.61L13.445 11H10.5a.5.5 0 0 0-.5.5Z" />
            </svg>
            {{recipe.difficulty}}
        </span>
        <span *ngIf="recipe.portion">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-people-fill" viewBox="0 0 16 16">
                <path
                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
            </svg>
            {{recipe.portion}} 
        </span>
    </ul>

    <ul class="recipe-detail__tags">
        <li *ngFor="let tag of recipe.tags;index as index">
            <span  [appBadgeChange]="index" >{{tag}}</span>
        </li>
    </ul>

    <p class="recipe-detail__description">
        {{recipe.description}}
    </p>
    <div class="recipe-detail-content">
        <div class="recipe-detail-content__primary">
            <h2>Ingredientes</h2>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
            </ul>
            
            <h2>Elaboraci&oacute;n
            </h2>
            <ul>
                <li *ngFor="let step of recipe.steps">{{step}}</li>
            </ul>
            
        </div>
        <div class="recipe-detail-content__second">

            <div class="recipe-detail-content__second-img">
                <img [src]="recipe.cover" alt="">
            </div>
        </div>
    </div>

    
    <button class="btn btn-dark" (click)="goBack()">Regresar</button>
</div>