.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;

    > h1,
    > h2,
    > h3 {
        text-align: center;
    }
    .content{
        padding-bottom: 10%;
    }
}







